
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-dash-side></app-dash-side>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-dash-nav></app-dash-nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Client</h1>
          <a  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fas fa-plus fa-sm text-white-50" ></i> Ajouter Un Client</a>
        </div>




        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table style="width: 80%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="cin">
            <th mat-header-cell *matHeaderCellDef> CIN Client </th>
            <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
          </ng-container>
          <!-- Position Column -->


          <!-- Name Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> NOM Client</th>
            <td mat-cell *matCellDef="let element"> {{element.nom}}  </td>
          </ng-container>
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> PRENOM Client</th>
            <td mat-cell *matCellDef="let element"> {{element.prenom}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            <td mat-cell *matCellDef="let element">

              <button  (click)="open(element.cin)"   mat-button class="enlarged-button"aria-label="Example icon button with a delete icon" data-bs-target ="#editClient" data-bs-toggle="modal" >
                <i class="fas fa-edit button_warning"></i>
              </button>
              <button  (click)="deleteClient(element.cin)"  color="warn" mat-button class="enlarged-button"aria-label="Example icon button with a delete icon">
                <i class="fas fa-times-circle"></i>
              </button>
              <button [routerLink]="['/CompteByClient', element.cin]" mat-button class="enlarged-button"aria-label="Example icon button with a delete icon">
                <i class="fas fa-university"></i>
              </button>

            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>




      </div>
      <!-- /.container-fluid -->


    </div>
    <!-- End of Main Content -->




    <!-- Footer -->

    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Un Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  [formGroup]="form" (ngSubmit)="onsub()" class="user" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row">
            <div class="form-group row">
              <input type="text"
                     class="form-control form-control-user"
                     name="cin"
                     id="cin"
                     formControlName="cin"
                     placeholder="CIN Client"
                     pattern="[0-9]{8}"
                     title="Le CIN doit comporter exactement 8 chiffres et ne doit contenir que des chiffres."
                     required>
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="nom" id="nom" formControlName="nom"
                     placeholder="Nom Client" [ngClass]="{'is-invalid': form.get('nom')?.invalid && form.get('nom')?.touched}">
              <div *ngIf="form.get('nom')?.invalid && form.get('nom')?.touched" class="invalid-feedback">
                Nom Client is required.
              </div>
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="prenom" id="prenom" formControlName="prenom"
                     placeholder="Prenom Client" [ngClass]="{'is-invalid': form.get('prenom')?.invalid && form.get('prenom')?.touched}">
              <div *ngIf="form.get('prenom')?.invalid && form.get('prenom')?.touched" class="invalid-feedback">
                Nom Client is required.
              </div>
            </div>

          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Ajouter">

        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editRegionLabel">Modifier Un Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="update()" class="user" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row">
            <div class="form-group row visually-hidden">
              <input type="text" class="form-control form-control-user" name="cin" id="cinHidEdit" formControlName="cin"
                     placeholder="CIN Client">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="cinDisabled" id="cinEdit" formControlName="cinDisabled"
                     placeholder="CIN Client">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="nomEdit" id="nomEdit" formControlName="nomEdit"
                     placeholder="Nom Client" [ngClass]="{'is-invalid': form.get('nomEdit')?.invalid && form.get('nomEdit')?.touched}">
              <!-- Display error message if the NomEdit field is invalid and has been touched -->
              <div *ngIf="form.get('nomEdit')?.invalid && form.get('nomEdit')?.touched" class="invalid-feedback">
                Nom Client is required.
              </div>
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="prenomEdit" id="prenomEdit" formControlName="prenomEdit"
                     placeholder="Prenom Client" [ngClass]="{'is-invalid': form.get('prenomEdit')?.invalid && form.get('prenomEdit')?.touched}">
              <!-- Display error message if the PrenomEdit field is invalid and has been touched -->
              <div *ngIf="form.get('prenomEdit')?.invalid && form.get('prenomEdit')?.touched" class="invalid-feedback">
                Prenom Client is required.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Modifier">
        </div>
      </form>

    </div>
  </div>
</div>



