<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .container, .row {
    height: 100%;
  }
</style>

<body class="bg-gradient-primary">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center align-items-center">

    <div class="  col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block ">
              <img style="margin-top: 50px" ngSrc="assets/Dash/img/20944139.jpg"  height="400" width="550"/>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Créez votre compte !</h1>
                </div>
                <form class="user" [formGroup]="form" (ngSubmit)="register()">
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user"
                           id="firstName" aria-describedby="emailHelp"
                           placeholder="Enter Your First Name..." formControlName="firstName"
                           [ngClass]="{ 'is-invalid': form.get('firstName')?.invalid && form.get('firstName')?.touched }">
                    <!-- Display error message if the first name field is invalid and has been touched -->
                    <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" class="invalid-feedback">
                      First Name is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user"
                           id="lastName" aria-describedby="emailHelp"
                           placeholder="Enter Your Last Name..." formControlName="lastName"
                           [ngClass]="{ 'is-invalid': form.get('lastName')?.invalid && form.get('lastName')?.touched }">
                    <!-- Display error message if the last name field is invalid and has been touched -->
                    <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched" class="invalid-feedback">
                      Last Name is required.
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter Email Address..." formControlName="email"
                           [ngClass]="{ 'is-invalid': form.get('email')?.invalid && form.get('email')?.touched }">
                    <!-- Display error message if the email field is invalid and has been touched -->
                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
                      Email is required and must be a valid email address.
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Password" formControlName="password"
                           [ngClass]="{ 'is-invalid': form.get('password')?.invalid && form.get('password')?.touched }">
                    <!-- Display error message if the password field is invalid and has been touched -->
                    <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="invalid-feedback">
                      Password is required.
                    </div>
                  </div>
                  <input type="submit" class="btn btn-primary btn-user btn-block" value="Enregistrer">
                  <hr>
                </form>


                <div class="text-center">
                  <a class="small" routerLink="/Login">S'authentifier !</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
</body>
