<!--DashBoard-->
<!------------------------------------------------------------------------------>
<!-- Custom fonts for this template-->


<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-dash-side></app-dash-side>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-dash-nav></app-dash-nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Comptes du Client {{client.nom.toUpperCase()}} {{client.prenom}}</h1>

        </div>


        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table style="width: 80%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="rib">
            <th mat-header-cell *matHeaderCellDef> RIB Compte </th>
            <td mat-cell *matCellDef="let element"> {{element.rib}} </td>
          </ng-container>
          <!-- Position Column -->



          <ng-container matColumnDef="solde">
            <th mat-header-cell *matHeaderCellDef> Solde Compte</th>
            <td mat-cell *matCellDef="let element"> {{element.solde}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>






