<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/DashHome">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-clinic-medical me-2"></i>
    </div>
    <div class="sidebar-brand-text mx-3">BANQUE</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/DashHome">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Client
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a routerLink="/ClientDash" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Client</span>
    </a>

  </li>
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Compte
  </div>
  <li class="nav-item">
    <a routerLink="/CompteDash" class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Compte</span>
    </a>

  </li>


  <!-- Divider -->


  <!-- Nav Item - Charts -->


  <!-- Sidebar Toggler (Sidebar) -->

</ul>
