<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  {{content}}
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>{{cancelButton}}</button>
  <button mat-raised-button color="{{color}}" style="background-color:{{color}};color:white;" mat-dialog-close="true" cdkFocusInitial>{{confirmButton}}</button>
</div>
