

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.button_warning {
  color: #ffcc00;
}

.enlarged-button {
  padding: 10px 15px;  /* Increase padding as per your requirement */
  font-size: 1.2em;    /* Increase font size to make the button content bigger */
}

.enlarged-button i.fas {
  font-size: 1.5em;    /* Increase the icon size */
}
.modal {
  z-index: 11000; /* Une valeur supérieure au z-index de l'autocomplétion */
  contain: content;
}


.mat-autocomplete-panel {
  z-index: 9999; /* Choose a value higher than your modal's z-index */
}
.cdk-overlay-container {
  z-index: 1000; /* ou une valeur supérieure au z-index du modèle */
}













