<!--DashBoard-->
<!------------------------------------------------------------------------------>
<!-- Custom fonts for this template-->


<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-dash-side></app-dash-side>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-dash-nav></app-dash-nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Compte</h1>
          <a routerLink="/AddCompte" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fas fa-plus fa-sm text-white-50" ></i> Ajouter Un Compte</a>
        </div>


        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table style="width: 80%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="rib">
            <th mat-header-cell *matHeaderCellDef> RIB Compte </th>
            <td mat-cell *matCellDef="let element"> {{element.rib}} </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="cinClient">
            <th mat-header-cell *matHeaderCellDef> CIN Client </th>
            <td mat-cell *matCellDef="let element"> {{element.client.cin}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nomClient">
            <th mat-header-cell *matHeaderCellDef> NOM Client</th>
            <td mat-cell *matCellDef="let element"> {{element.client.nom}}  {{element.client.prenom}}</td>
          </ng-container>
          <ng-container matColumnDef="solde">
            <th mat-header-cell *matHeaderCellDef> Solde Compte</th>
            <td mat-cell *matCellDef="let element"> {{element.solde}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            <td mat-cell *matCellDef="let element">

              <button  (click)="open(element.rib)"   mat-button class="enlarged-button"aria-label="Example icon button with a delete icon" data-bs-target ="#editCompte" data-bs-toggle="modal" >
                <i class="fas fa-edit button_warning"></i>
              </button>
              <button  (click)="deleteCompte(element.rib)"  color="warn" mat-button class="enlarged-button"aria-label="Example icon button with a delete icon">
                <i class="fas fa-times-circle"></i>
              </button>


            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editCompte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editRegionLabel">Modifier Un Compte</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="update()" class="user" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="row">
            <div class="form-group row visually-hidden">
              <input type="text" class="form-control form-control-user" name="rib" id="ribHidEdit" formControlName="rib">
            </div>
            <div class="form-group row">
              <input  type="text" class="form-control form-control-user" name="ribDisabled" id="ribEdit" formControlName="ribDisabled">
            </div>
            <div class="form-group row">
              <input type="text" class="form-control form-control-user" name="solde" id="soldeEdit" formControlName="soldeEdit"
                     placeholder="Solde Compte" [ngClass]="{'is-invalid': form.get('soldeEdit')?.invalid && form.get('soldeEdit')?.touched}">
              <div *ngIf="form.get('soldeEdit')?.invalid && form.get('soldeEdit')?.touched" class="invalid-feedback">
                Solde is required.
              </div>
            </div>


          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <input type="submit" class="btn btn-primary" value="Modifier">

        </div>
      </form>
    </div>
  </div>
</div>





