
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-dash-side></app-dash-side>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-dash-nav></app-dash-nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <section >
          <div class="container py-5">


            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 290px;">
                    <h5 class="my-3">{{email}}</h5>
                    <p class="text-muted mb-1">Utilisateur</p>
                    <p class="text-muted mb-4"></p>

                  </div>
                </div>

              </div>
              <div class="col-lg-8">
                <h5>Client</h5>
                <div class="row">

                  <!-- Earnings (Monthly) Card Example -->

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Nombre Clients</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbClient}}</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                </div>
                <h5>Compte</h5>
                <div class="row">

                  <!-- Earnings (Monthly) Card Example -->

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-12 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Nombre Comptes</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nbCompte}}</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Page Heading -->


        <!-- Content Row -->



      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->

    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->




