<!--DashBoard-->
<!------------------------------------------------------------------------------>
<!-- Custom fonts for this template-->

<style>
  .center-title {
    text-align: center;
  }
</style>
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-dash-side></app-dash-side>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-dash-nav></app-dash-nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

<br>
        <br>
        <br>
        <mat-card style="max-width: 500px;max-height: 400px;margin: auto;">
          <mat-card-header >
            <mat-card-title style="margin-left: 150px;">
              Ajouter Compte
            </mat-card-title>
          </mat-card-header>
<br>
          <mat-card-content class="center-container">
            <form [formGroup]="form" (ngSubmit)="onsub()" class="example-form user">

              <mat-form-field class="example-full-width">
                <mat-label>CLIENT</mat-label>
                <input matInput [matAutocomplete]="auto" formControlName="client" />
                <mat-autocomplete autoActiveFirstOption #auto>
                  <mat-option *ngFor="let item of filteroptionslist | async" [value]="item.cin">
                    {{ item.cin }} | {{ item.nom }} {{ item.prenom }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>RIB</mat-label>
                <input matInput formControlName="rib">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>SOLDE</mat-label>
                <input matInput formControlName="solde">
              </mat-form-field>

              <br>
              <input type="submit" class="btn btn-primary" value="Ajouter" style="margin-left: 130px;width: 200px;">

            </form>
          </mat-card-content>
        </mat-card>






      </div>

    </div>

  </div>
  <!-- End of Content Wrapper -->


</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->





