.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.center-container {
  display: flex;

  justify-content: center;
  height: 100vh; /* Use 100% of the viewport height */
}


